.navbar-custom{
    background:#0F766E;
    padding:15px 0;
}

.navbar-brand{
    letter-spacing:1px;
}

.nav-link{
    font-size:17px;
    font-weight:500;
    margin-left:20px;
    transition:.3s;
}

.nav-link:hover{
    color:#FFD54F !important;
}

.whatsapp-btn{
    background:#25D366;
    color:white;
    font-weight:600;
    border-radius:30px;
    padding:10px 20px;
}

.whatsapp-btn:hover{
    background:#1ebe5d;
    color:white;
    transform:translateY(-2px);
    transition:.3s;
}